[Desktop Entry]
Type=Application
Name=Portfolio Performance
Exec=/home/simon/Applications/portfolio/PortfolioPerformance
Icon=/home/simon/Applications/portfolio/icon.xpm
X-Desktop-File-Install-Version=0.27
